[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
tox = "*"
coverage = "*"
pytest-cov = "*"
tox-travis = "*"
python-coveralls = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
pytest = "*"

[requires]
