[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "==3.13"

[dev-packages]
tox = "*"
pytest-cov = "*"
tox-travis = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
pytest = "*"
coveralls = "*"
pytest-xvfb = "*"

[requires]
